$baseFont: Poppins;
$baseFontSize: 1.3em;
$baseRadius: 4px;
$baseFontColor: #fff;
$basePosition: center;

@mixin buttonStyle {
    background: none;
    border: 2px solid $baseFontColor;
    margin: 10px auto;
    padding: 6px 12px;
    color: $baseFontColor;
    font-weight: bold;
    font-size: $baseFontSize;
    cursor: pointer;

    :hover {
        background-color: #1b1523;
        color: $baseFontColor;
    }
}

@mixin card-grid {
    display: grid;
    margin-left: 0;
    padding: 20px;
}

@mixin image-size {
    width: 220px;
    height: 200px;
}