@import "../Variables/Variables.scss";

body {
    font-family: $baseFont;
    text-align: center;
    background: #1b1523;
    color: $baseFontColor;
}

button {
    @include buttonStyle();
}

.App {
    margin: 40px auto;
    width: auto;
}

.title {
    font-size: 4em;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    body {
        text-align: $basePosition;
    }
}
  
@media screen and (max-width: 600px) {
    body {
        text-align: $basePosition;
    }
}