@import "../Variables/Variables.scss";

body {
    display: flex;
    justify-content: space-evenly;
    font-family: $baseFont;
    text-align: center;
    background: url("../../../public/images/redmoon.png") no-repeat fixed;
    background-size: cover;
    color: $baseFontColor;
    width: 100%;
    height: auto;
}

button {
    @include buttonStyle();
}

.App {
    margin: 40px auto;
    width: auto;
}

.head {
    display: flex;
    justify-content: center;
}
.title {
    font-size: 4.5em;
    font-weight: bold;
}

.clan {
    margin-top: -12px;
    width: 90px;
    height: auto;
}

@media screen and (max-width: 992px) {
    body {
        text-align: $basePosition;
    }
}
  
@media screen and (max-width: 600px) {
    body {
        text-align: $basePosition;
    }
}