@import "../Variables/Variables.scss";

body {
    font-family: $baseFont;
    text-align: center;
    background: #1b1523;
    color: $baseFontColor;
}

button {
    @include buttonStyle();
}

.App {
    max-width: 860px;
    margin: 40px auto;
}

.title {
    font-size: 4em;
    font-weight: bold;
}