@import "../Variables/Variables.scss";

.card-grid {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: $basePosition;
}

.card {
    position: relative;
}

.card img {
    border-radius: $baseRadius;
}

.back {
    @include image-size();
}

@media screen and (max-width: 992px) {
    .card-grid {
        @include card-grid();
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media screen and (max-width: 600px) {
    .card-grid {
        @include card-grid();
        grid-template-columns: repeat(2, 1fr);
    }
}