@import "../Variables/Variables.scss";

.card-grid {
    margin: 40px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: $basePosition;
}

.card {
    position: relative;
}

.card img {
    border-radius: $baseRadius;
}

.back {
    @include image-size();
}

.card .front {
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
}

.flipped .back {
    transform: rotateY(90deg);
}

@media screen and (max-width: 992px) {
    .card-grid {
        @include card-grid();
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media screen and (max-width: 600px) {
    .card-grid {
        @include card-grid();
        grid-template-columns: repeat(2, 1fr);
    }
}